.navigation-menu {
    a.cds--header__name {
        padding: 0 1.5rem 0 0.5rem;
    }
    .cds--side-nav__navigation {
        box-shadow: 0 4px 4px 2px rgba(91, 91, 91, 0.4);
    }
    .cds--side-nav--expanded {
        inline-size: 16.5rem;
        max-inline-size: 16.5rem;
    }
    .cds--header__action.cds--btn--icon-only {
        inline-size: 5rem;
        font-size: 1.5rem;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    .cds--popover--bottom:not(.cds--popover--auto-align) > .cds--popover > .cds--popover-content {
        inset-inline-start: -50%;
    }
}